.navbar{
    position: fixed;
    background-color: rgb(255, 255, 255, 0.8);
    width: 100%;
    border-radius: 7px;
    font-size: 20px;
}
.navbar-brand h2{
    display: inline-block;
    font-size: 31px;
}
h1{
    color: #F1671E;
}
h4{
    display: inline-block;
    border-style: solid;
    border-color: #F1671E;
    padding: 10px;
}
.info{
    padding:20px;
}
.info h4{
    padding:20px;
    text-align: center;
    margin: 2% 1% 2% 17.5%;
    display: inline-block;
}
.info h1{
    text-align: center;
}
a{
    color:#F1671E;
}
body{
    background-color: #EDECEC;
    height: 1200px;
    margin: auto;
    width: auto;
}
.info button{
    background-color: #F1671E;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    font-size: 25px;
    text-align: center;
    border-color: #F1671E;
}
.navbar button{
    background-color: #F1671E;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    font-size: 18px;
    border-color: #F1671E;
    width: 100px;
}
.workout-info-buttons{
    text-align: center;
}
.workout-info-buttons button{
    background-color: #F1671E;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    font-size: 25px;
    border-color: #F1671E;
    width: 250px;
    margin: 1% 0% 0% 0%;
}