<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'lift_final/css/style.css' %}">
     <title> User Home-Page </title>
</head>
<body class="home-page">
    <div class="nav">
        <nav class="navbar navbar-expand-xl navbar-light bg-lightgrey" data-spy="affix" data-offset-top="197">
            <img src= "../../static/lift_final/imgs/lift_main_icon.png" width="33" height="30" class="navbar-brand p-0 m-0 mb-1" alt=""> <h2 class="mt-1 mr-3 text-center" style="font-size: 31px">LIFT</h2>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/workouts">Workouts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/{{user.id}}/profile">Profile</a>
                    </li>
                </ul>
            </div>
            <form action="/log_out" method="POST">
                {% csrf_token %}
                <input type="hidden">
                <button type="submit" class="btn btn-primary btn-sm">Log Out</button>
            </form>
        </nav>
    </div>
    <br><br><br>
    <div class="middle">
        <div class="workouts">
            <h1>My Workouts</h1>
            {% for my_workout in my_workout %}
            <ul>
                <li><strong><a href="{{my_workout.id}}/info" style="text-align: center;">{{my_workout.name}}</a></strong>
                <div class="remove-button">
                <form action="/{{my_workout.id}}/remove_workout" method="POST">
                    {% csrf_token %}
                    <input type="hidden">
                    <button type="submit" class="btn btn-primary btn-sm">Remove From My List</button>
                </form>
                </div>
            </li>
            </ul>
            {% endfor %}
        </div>
        <div class="schedule">
            <h1>Weekly Schedule</h1>
            {% if workout_days  == 1 %}
            <div class="day-1">
                    <h3>Day 1</h3>
                    <ul>
                        {% for my_workout in weekly_schedule %}
                        <li style="text-align: left;">
                            {{my_workout.name}}
                        </li>
                        {% endfor %}
                        {% for exercise in chest %}
                        <li style="text-align: left;">
                            {{exercise.name}}
                        </li>
                        {% endfor %}
                        {% for exercise in arms %}
                        <li style="text-align: left;">
                            {{exercise.name}}
                        </li>
                        {% endfor %}
                        {% for exercise in shoulders %}
                        <li style="text-align: left;">
                            {{exercise.name}}
                        </li>
                        {% endfor %}
                        {% for exercise in legs %}
                        <li style="text-align: left;">
                            {{exercise.name}}
                        </li>
                        {% endfor %}
                        {% for exercise in back %}
                        <li style="text-align: left;">
                            {{exercise.name}}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% if workout_days  == 2 %}
            <div class="day-1">
                <h3>Day 1</h3>
                <ul>
                        {% for my_workout in weekly_schedule %}
                        <li style="text-align: left;">
                            {{my_workout.name}}
                        </li>
                        {% endfor %}
                        {% for exercise in chest %}
                        <li style="text-align: left;">
                            {{exercise.name}}
                        </li>
                        {% endfor %}
                        {% for exercise in arms %}
                        <li style="text-align: left;">
                            {{exercise.name}}
                        </li>
                        {% endfor %}
                        {% for exercise in shoulders %}
                        <li style="text-align: left;">
                            {{exercise.name}}
                        </li>
                        {% endfor %}
                        {% for exercise in legs %}
                        <li style="text-align: left;">
                            {{exercise.name}}
                        </li>
                        {% endfor %}
                        {% for exercise in back %}
                        <li style="text-align: left;">
                            {{exercise.name}}
                        </li>
                        {% endfor %}
                    </ul>
            </div>
            <div class="day-2">
                <h3>Day 2</h3>
                <ul>
                        {% for my_workout in weekly_schedule %}
                        <li style="text-align: left;">
                            {{my_workout.name}}
                        </li>
                        {% endfor %}
                        {% for exercise in chest %}
                        <li style="text-align: left;">
                            {{exercise.name}}
                        </li>
                        {% endfor %}
                        {% for exercise in arms %}
                        <li style="text-align: left;">
                            {{exercise.name}}
                        </li>
                        {% endfor %}
                        {% for exercise in shoulders %}
                        <li style="text-align: left;">
                            {{exercise.name}}
                        </li>
                        {% endfor %}
                        {% for exercise in legs %}
                        <li style="text-align: left;">
                            {{exercise.name}}
                        </li>
                        {% endfor %}
                        {% for exercise in back %}
                        <li style="text-align: left;">
                            {{exercise.name}}
                        </li>
                        {% endfor %}
                    </ul>
            </div>
            {% endif %}
            {% if workout_days  == 3 %}
            <div class="day-1">
                <h3>Day 1</h3>
                <ul>
                        {% for my_workout in weekly_schedule %}
                        <li style="text-align: left;">
                            {{my_workout.name}}
                        </li>
                        {% endfor %}
                        {% for exercise in chest %}
                        <li style="text-align: left;">
                            {{exercise.name}}
                        </li>
                        {% endfor %}
                        {% for exercise in arms %}
                        <li style="text-align: left;">
                            {{exercise.name}}
                        </li>
                        {% endfor %}
                        {% for exercise in shoulders %}
                        <li style="text-align: left;">
                            {{exercise.name}}
                        </li>
                        {% endfor %}
                        {% for exercise in legs %}
                        <li style="text-align: left;">
                            {{exercise.name}}
                        </li>
                        {% endfor %}
                        {% for exercise in back %}
                        <li style="text-align: left;">
                            {{exercise.name}}
                        </li>
                        {% endfor %}
                    </ul>
            </div>
            <div class="day-2">
                <h3>Day 2</h3>
                <ul>
                    {% for my_workout in weekly_schedule %}
                    <li style="text-align: left;">
                        {{my_workout.name}}
                    </li>
                    {% endfor %}
                    {% for exercise in chest %}
                    <li style="text-align: left;">
                        {{exercise.name}}
                    </li>
                    {% endfor %}
                    {% for exercise in arms %}
                    <li style="text-align: left;">
                        {{exercise.name}}
                    </li>
                    {% endfor %}
                    {% for exercise in shoulders %}
                    <li style="text-align: left;">
                        {{exercise.name}}
                    </li>
                    {% endfor %}
                    {% for exercise in legs %}
                    <li style="text-align: left;">
                        {{exercise.name}}
                    </li>
                    {% endfor %}
                    {% for exercise in back %}
                    <li style="text-align: left;">
                        {{exercise.name}}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="day-3">
                    <h3>Day 3</h3>
                    <ul>
                    {% for my_workout in weekly_schedule %}
                    <li style="text-align: left;">
                        {{my_workout.name}}
                    </li>
                    {% endfor %}
                    {% for exercise in chest %}
                    <li style="text-align: left;">
                        {{exercise.name}}
                    </li>
                    {% endfor %}
                    {% for exercise in arms %}
                    <li style="text-align: left;">
                        {{exercise.name}}
                    </li>
                    {% endfor %}
                    {% for exercise in shoulders %}
                    <li style="text-align: left;">
                        {{exercise.name}}
                    </li>
                    {% endfor %}
                    {% for exercise in legs %}
                    <li style="text-align: left;">
                        {{exercise.name}}
                    </li>
                    {% endfor %}
                    {% for exercise in back %}
                    <li style="text-align: left;">
                        {{exercise.name}}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% if workout_days  == 4 %}
            <div class="day-1">
                <h3>Day 1</h3>
                <ul>
                    {% for my_workout in weekly_schedule %}
                    <li style="text-align: left;">
                        {{my_workout.name}}
                    </li>
                    {% endfor %}
                    {% for exercise in chest %}
                    <li style="text-align: left;">
                        {{exercise.name}}
                    </li>
                    {% endfor %}
                    {% for exercise in arms %}
                    <li style="text-align: left;">
                        {{exercise.name}}
                    </li>
                    {% endfor %}
                    {% for exercise in shoulders %}
                    <li style="text-align: left;">
                        {{exercise.name}}
                    </li>
                    {% endfor %}
                    {% for exercise in legs %}
                    <li style="text-align: left;">
                        {{exercise.name}}
                    </li>
                    {% endfor %}
                    {% for exercise in back %}
                    <li style="text-align: left;">
                        {{exercise.name}}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="day-2">
                <h3>Day 2</h3>
                <ul>
                    {% for my_workout in weekly_schedule %}
                    <li style="text-align: left;">
                        {{my_workout.name}}
                    </li>
                    {% endfor %}
                    {% for exercise in chest %}
                    <li style="text-align: left;">
                        {{exercise.name}}
                    </li>
                    {% endfor %}
                    {% for exercise in arms %}
                    <li style="text-align: left;">
                        {{exercise.name}}
                    </li>
                    {% endfor %}
                    {% for exercise in shoulders %}
                    <li style="text-align: left;">
                        {{exercise.name}}
                    </li>
                    {% endfor %}
                    {% for exercise in legs %}
                    <li style="text-align: left;">
                        {{exercise.name}}
                    </li>
                    {% endfor %}
                    {% for exercise in back %}
                    <li style="text-align: left;">
                        {{exercise.name}}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="day-3">
                <h3>Day 3</h3>
                <ul>
                    {% for my_workout in weekly_schedule %}
                    <li style="text-align: left;">
                        {{my_workout.name}}
                    </li>
                    {% endfor %}
                    {% for exercise in chest %}
                    <li style="text-align: left;">
                        {{exercise.name}}
                    </li>
                    {% endfor %}
                    {% for exercise in arms %}
                    <li style="text-align: left;">
                        {{exercise.name}}
                    </li>
                    {% endfor %}
                    {% for exercise in shoulders %}
                    <li style="text-align: left;">
                        {{exercise.name}}
                    </li>
                    {% endfor %}
                    {% for exercise in legs %}
                    <li style="text-align: left;">
                        {{exercise.name}}
                    </li>
                    {% endfor %}
                    {% for exercise in back %}
                    <li style="text-align: left;">
                        {{exercise.name}}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="day-4">
                <h3>Day 4</h3>
                <ul>
                    {% for my_workout in weekly_schedule %}
                    <li style="text-align: left;">
                        {{my_workout.name}}
                    </li>
                    {% endfor %}
                    {% for exercise in chest %}
                    <li style="text-align: left;">
                        {{exercise.name}}
                    </li>
                    {% endfor %}
                    {% for exercise in arms %}
                    <li style="text-align: left;">
                        {{exercise.name}}
                    </li>
                    {% endfor %}
                    {% for exercise in shoulders %}
                    <li style="text-align: left;">
                        {{exercise.name}}
                    </li>
                    {% endfor %}
                    {% for exercise in legs %}
                    <li style="text-align: left;">
                        {{exercise.name}}
                    </li>
                    {% endfor %}
                    {% for exercise in back %}
                    <li style="text-align: left;">
                        {{exercise.name}}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% if workout_days  == 5 %}
            <div class="day-1">
                <h3>Day 1</h3>
                <ul>
                    {% for my_workout in weekly_schedule %}
                    <li style="text-align: left;">
                        {{my_workout.name}}
                    </li>
                    {% endfor %}
                    {% for exercise in chest %}
                    <li style="text-align: left;">
                        {{exercise.name}}
                    </li>
                    {% endfor %}
                    {% for exercise in arms %}
                    <li style="text-align: left;">
                        {{exercise.name}}
                    </li>
                    {% endfor %}
                    {% for exercise in shoulders %}
                    <li style="text-align: left;">
                        {{exercise.name}}
                    </li>
                    {% endfor %}
                    {% for exercise in legs %}
                    <li style="text-align: left;">
                        {{exercise.name}}
                    </li>
                    {% endfor %}
                    {% for exercise in back %}
                    <li style="text-align: left;">
                        {{exercise.name}}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="day-2">
                <h3>Day 2</h3>
                <ul>
                    {% for my_workout in weekly_schedule %}
                    <li style="text-align: left;">
                        {{my_workout.name}}
                    </li>
                    {% endfor %}
                    {% for exercise in chest %}
                    <li style="text-align: left;">
                        {{exercise.name}}
                    </li>
                    {% endfor %}
                    {% for exercise in arms %}
                    <li style="text-align: left;">
                        {{exercise.name}}
                    </li>
                    {% endfor %}
                    {% for exercise in shoulders %}
                    <li style="text-align: left;">
                        {{exercise.name}}
                    </li>
                    {% endfor %}
                    {% for exercise in legs %}
                    <li style="text-align: left;">
                        {{exercise.name}}
                    </li>
                    {% endfor %}
                    {% for exercise in back %}
                    <li style="text-align: left;">
                        {{exercise.name}}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="day-3">
                <h3>Day 3</h3>
                <ul>
                    {% for my_workout in weekly_schedule %}
                    <li style="text-align: left;">
                        {{my_workout.name}}
                    </li>
                    {% endfor %}
                    {% for exercise in chest %}
                    <li style="text-align: left;">
                        {{exercise.name}}
                    </li>
                    {% endfor %}
                    {% for exercise in arms %}
                    <li style="text-align: left;">
                        {{exercise.name}}
                    </li>
                    {% endfor %}
                    {% for exercise in shoulders %}
                    <li style="text-align: left;">
                        {{exercise.name}}
                    </li>
                    {% endfor %}
                    {% for exercise in legs %}
                    <li style="text-align: left;">
                        {{exercise.name}}
                    </li>
                    {% endfor %}
                    {% for exercise in back %}
                    <li style="text-align: left;">
                        {{exercise.name}}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="day-4">
                <h3>Day 4</h3>
                <ul>
                    {% for my_workout in weekly_schedule %}
                    <li style="text-align: left;">
                        {{my_workout.name}}
                    </li>
                    {% endfor %}
                    {% for exercise in chest %}
                    <li style="text-align: left;">
                        {{exercise.name}}
                    </li>
                    {% endfor %}
                    {% for exercise in arms %}
                    <li style="text-align: left;">
                        {{exercise.name}}
                    </li>
                    {% endfor %}
                    {% for exercise in shoulders %}
                    <li style="text-align: left;">
                        {{exercise.name}}
                    </li>
                    {% endfor %}
                    {% for exercise in legs %}
                    <li style="text-align: left;">
                        {{exercise.name}}
                    </li>
                    {% endfor %}
                    {% for exercise in back %}
                    <li style="text-align: left;">
                        {{exercise.name}}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="day-5">
                <h3>Day 5</h3>
                <ul>
                    {% for my_workout in weekly_schedule %}
                    <li style="text-align: left;">
                        {{my_workout.name}}
                    </li>
                    {% endfor %}
                    {% for exercise in chest %}
                    <li style="text-align: left;">
                        {{exercise.name}}
                    </li>
                    {% endfor %}
                    {% for exercise in arms %}
                    <li style="text-align: left;">
                        {{exercise.name}}
                    </li>
                    {% endfor %}
                    {% for exercise in shoulders %}
                    <li style="text-align: left;">
                        {{exercise.name}}
                    </li>
                    {% endfor %}
                    {% for exercise in legs %}
                    <li style="text-align: left;">
                        {{exercise.name}}
                    </li>
                    {% endfor %}
                    {% for exercise in back %}
                    <li style="text-align: left;">
                        {{exercise.name}}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
</body>
</html>