<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> User Info Page </title>
    {% load static %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'lift_final/css/style.css' %}">
</head>
<body class="info-page">
    <div class="nav">
        <nav class="navbar navbar-expand-xl navbar-light bg-lightgrey" data-spy="affix" data-offset-top="197">
            <img src= "../../static/lift_final/imgs/lift_main_icon.png" width="33" height="30" class="navbar-brand p-0 m-0 mb-1" alt=""> <h2 class="mt-1 mr-3 text-center" style="font-size: 31px">LIFT</h2>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </div>
    <br><br><br>
    <div class="mid">
        <div class="info-column">
            <h2>Personal Info and Fitness Goal</h2>
            <form action='/input' method="post">
               {% csrf_token %}
                <div class="form-group">
                    <label for="exampleFormControlInput1">Weight</label>
                    <input type="text" class="form-control ml-6" name="weight" placeholder="0">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1"># of Workout Days Per Week</label>
                    <input type="text" class="form-control ml-6" name="num_of_workout_days" placeholder="3">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Personal Fitness Goal</label>
                    <select class="form-control ml-6" name="workout_choice">
                        <option value="Cardio">Lose Weight (Cardio)</option>
                        <option value="Weights">Gain Muscle (Weights)</option>
                        <option value="Mixed">Maintain (Mixed Cardio & Weights)</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary mb-2 ml-7 mt-4">Let's Do This!</button>
            </form>
        </div>
    </div>
    {% if messages %}
    <div class="messages">
        <h5>Error(s)</h5>
        {% for message in messages %}
        <p {% if messages.tags %} class="{{ message.tags }}"" {% endif %}> <strong>{{message}}</strong></p>
        {% endfor %}
    {% endif %}
    </div>
</body>
</html>