<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Workouts</title>
    {% load static %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'lift_final/css/workouts.css' %}">
</head>
<body>
    <div class="nav">
        <nav class="navbar navbar-expand-xl navbar-light bg-lightgrey" data-spy="affix" data-offset-top="197">
            <img src= "../../static/lift_final/imgs/lift_main_icon.png" width="33" height="30" class="navbar-brand p-0 m-0 mb-1" alt=""> <h2 class="mt-1 mr-3 text-center" style="font-size: 31px">LIFT</h2>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/workouts">Workouts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/{{user.id}}/profile">Profile</a>
                    </li>
                </ul>
            </div>
            <form action="/log_out" method="POST">
                {% csrf_token %}
                <input type="hidden">
                <button type="submit" class="btn btn-primary btn-sm">Log Out</button>
            </form>
        </nav>
    </div>
    <br><br><br>
    <div class="box_container">
        <div class="box">
            <h2 class="title_w">Weights</h2>
            <img class="weight_img" src="../../static/lift_final/imgs/weights.jpg" alt="Image of Weight Lifting">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                    {% for weight in weights %}
                            <tr>
                            <td scope="col">{{weight.name}}</td>
                            <td scope="col"><a href="{{weight.id}}/info">INFO </a> | {% if weight not in user_workouts %}<a href="/{{weight.id}}/my_workout">ADD</a></td>{% endif %}
                        </tr>
                            </tr>
                    {% endfor %}
                </thead>
            </table>
        </div>
        <div class="box">
            <h2 class="title_c">Cardio</h2>
            <img class="cardio_img" src="../../static/lift_final/imgs/cardio.jpg" alt="Image of Cardio Exercise">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                    {% for cardio in cardio %}
                    <tr>
                        <td scope="col">{{cardio.name}}</td>
                        <td scope="col"><a href="{{cardio.id}}/info">INFO </a>| {% if cardio not in user_workouts %}<a href="/{{cardio.id}}/my_workout">ADD</a></td>{% endif %}
                    </tr>
                    {% endfor %}
                </thead>
            </table>
        </div>
        <div class="box">
            <h2 class="title_m">Mixed</h2>
            <img class="mixed_img" src="../../static/lift_final/imgs/mixed.jpg" alt="Image of Mixed Workout">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Name</th>
                        <th> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Actions</th>
                    </tr>
                    {% for mixed in mixed %}
                    <tr>
                        <td scope="col">{{mixed.name}}</td>
                        <td scope="col"> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; <a href="{{mixed.id}}/info">INFO </a> | {% if mixed not in user_workouts %}<a href="/{{mixed.id}}/my_workout">ADD</a></td>{% endif %}
                    </tr>
                    {% endfor %}
                </thead>
            </table>
        </div>
    </div>
</body>
</html>